<!DOCTYPE html>
<html lang="en">
    <%- include('include/header'); %>
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body onload="Initialize_follow_button();">
  
  <!-- 따라다니는 +버튼 설정 -->
  <button id="follow_button" class="btn btn-primary btn-circle btn-xl" data-toggle="modal" data-target="#follow_button_modal">
    <i class="fa fa-list">+</i>
  </button>

  <script type="text/javascript">
    //follow button 설정
    var stmnLEFT = 10; // 오른쪽 여백 
    var stmnGAP1 = 0; // 위쪽 여백 
    var stmnGAP2 = document.body.scrollHeight; // 스크롤시 브라우저 위쪽과 떨어지는 거리 
    var stmnBASE = 150; // 스크롤 시작위치 
    var stmnActivateSpeed = 10; //스크롤을 인식하는 딜레이 (숫자가 클수록 느리게 인식)
    var stmnScrollSpeed = 0; //스크롤 속도 (클수록 느림)
    var stmnTimer; 
    
    function Refresh_follow_button() { 
     var stmnStartPoint, stmnEndPoint; 
     stmnStartPoint = parseInt(document.getElementById('follow_button').style.top, 10); 
     stmnEndPoint = Math.max(document.documentElement.scrollTop, document.body.scrollTop) + stmnGAP2; 
     if (stmnEndPoint < stmnGAP1) stmnEndPoint = stmnGAP1; 
     if (stmnStartPoint != stmnEndPoint) { 
      stmnScrollAmount = Math.ceil( Math.abs( stmnEndPoint - stmnStartPoint ) / 15 ); 
      document.getElementById('follow_button').style.top = parseInt(document.getElementById('follow_button').style.top, 10) + ( ( stmnEndPoint<stmnStartPoint ) ? -stmnScrollAmount : stmnScrollAmount ) + 'px'; 
      stmnRefreshTimer = stmnScrollSpeed; 
      }
     stmnTimer = setTimeout("Refresh_follow_button();", stmnActivateSpeed); 
     } 
    function Initialize_follow_button() {
     document.getElementById('follow_button').style.right = stmnLEFT + 'px';  //처음에 오른쪽에 위치. left로 바꿔도.
     document.getElementById('follow_button').style.top = document.body.scrollTop + stmnBASE + 'px'; 
     Refresh_follow_button();
     }
  </script>
  <!-- 버튼 누를 시 실행되는 Modal -->
  <div class="modal fade" id="follow_button_modal" tabindex="-1" role="dialog" aria-labelledby="follow_button_modalLabel" aria-hidden="true">
    <form action="/information" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">내용 추가하기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">날짜 선택</label>
                <div class="form-row">
                  <div class="col">
                    <select class="form-control" id="input_year" name="input_year">
                      <option>Year</option>
                      <%for(var i=-2; i<=2; i++){%>
                        <option value="<%=Number(moment().format('YYYY'))+i%>"><%=Number(moment().format('YYYY'))+i%></option>
                      <%}%>
                    </select>
                  </div>
                  <div class="col">
                    <select class="form-control" id="input_month" name="input_month">
                      <option>Month</option>
                      <%for(var i=1; i<=12; i++){%>
                        <option value="<%=i%>"><%=i%></option>
                      <%}%>
                    </select>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">제목</label>
                <input type="text" class="form-control" id="input_title" name="input_title">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">내용</label>
                <textarea class="form-control" id="input_content" name="input_content"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <input type="submit" class="btn btn-primary" >
          </div>
        </div>
      </div>
    </form>
  </div>


  <!-- Body부분 -->
  <h1 class="text-center">Event</h1>
    <div class="container">
        <div class="timeline">
          <% var year_tmp=''; var month_tmp=''%>
          <% information_data.docs.forEach(function(data, index){%>
            <!-- Year 구분 -->
            <%if(year_tmp!=data.year){%>
              <%year_tmp = data.year; month_tmp=''%>
              <div class="timeline-month">
                <%=data.year%>년 
                <span>3 Entries</span>
              </div>
            <%}%>
            <!-- Data 불러오기 -->
            <div class="timeline-section">
              <%if(month_tmp!=data.month){%>
                <%month_tmp = data.month%>
                <div class="timeline-date">
                  <%=data.month%>월
                </div>
              <%}%>
              <div class="row">
                <div class="col-sm-4">
                  <div class="timeline-box">
                    <div class="box-title">
                      <i class="fa fa-asterisk text-success" aria-hidden="true"></i> <%=data.title%>
                    </div>
                    <div class="box-content">
                      <div class="box-item"><strong>내용</strong><br><%=data.content%></div>
                    </div>
                    <div class="box-footer">- 작성자</div>
                  </div>
                </div>
              </div>
            </div>
          <%})%>

        </div>
    </div>
</body>
</html>

<style>
  body{
    background-color: #c8c8c8;
  }
    
  .timeline{
    margin-top:20px;
    position:relative;
  }

  .timeline:before{
    position:absolute;
    content:'';
    width:4px;
    height:calc(100% + 50px);
    background: rgb(138,145,150);
    background: -moz-linear-gradient(left, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(98,105,109,1) 100%);
    background: -webkit-linear-gradient(left, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
    background: linear-gradient(to right, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
    left:14px;
    top:5px;
    border-radius:4px;
  }

  .timeline-month{
    color:white;
    position:relative;
    padding:4px 15px 4px 35px;
    background-color:#444950;
    display:inline-block;
    width:auto;
    border-radius:40px;
    border:1px solid #17191B;
    border-right-color:black;
    margin-bottom:30px;
  }

  .timeline-month span{
    position:absolute;
    top:-1px;
    left:calc(100% - 10px);
    z-index:-1;
    white-space:nowrap;
    display:inline-block;
    background-color:#111;
    padding:4px 10px 4px 20px;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    border:1px solid black;
    box-sizing:border-box;
  }

  .timeline-month:before{
    position:absolute;
    content:'';
    width:20px;
    height:20px;
    background: rgb(138,145,150);
    background: -moz-linear-gradient(top, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(112,120,125,1) 100%);
    background: -webkit-linear-gradient(top, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    background: linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d',GradientType=0 );
    border-radius:100%;
    border:1px solid #17191B;
    left:5px;
  }

  .timeline-section{
    padding-left:35px;
    display:block;
    position:relative;
    margin-bottom:30px;
  }

  .timeline-date{
    margin-bottom:15px;
    padding:2px 15px;
    background:linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    position:relative;
    display:inline-block;
    border-radius:20px;
    border:1px solid #17191B;
    color:#fff;
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
  }
  .timeline-section:before{
    content:'';
    position:absolute;
    width:30px;
    height:1px;
    background-color:#444950;
    top:12px;
    left:20px;
  }

  .timeline-section:after{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    background:linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    top:7px;
    left:11px;
    border:1px solid #17191B;
    border-radius:100%;
  }

  .timeline-section .col-sm-4{
    margin-bottom:15px;
  }

  .timeline-box{
    position:relative;
    
  background-color:#444950;
    border-radius:15px;
    border-top-left-radius:0px;
    border-bottom-right-radius:0px;
    border:1px solid #17191B;
    transition:all 0.3s ease;
    overflow:hidden;
  }

  .box-icon{
    position:absolute;
    right:5px;
    top:0px;
  }

  .box-title{
      color:white;
    padding:5px 15px;
    border-bottom: 1px solid #17191B;
  }

  .box-title i{
    margin-right:5px;
  }

  .box-content{
    padding:5px 15px;
    background-color:#17191B;
  }

  .box-content strong{
    color:white;
    font-style:italic;
    margin-right:5px;
  }

  .box-item{
      color:white;
    margin-bottom:5px;
  }

  .box-footer{
      color:white;
  padding:5px 15px;
    border-top: 1px solid #17191B;
    background-color:#444950;
    text-align:right;
    font-style:italic;
  }

  /* plus button */
  .btn-circle.btn-xl {
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      border-radius: 35px;
      font-size: 24px;
      line-height: 1.33;
  }

  .btn-circle {
      width: 30px;
      height: 30px;
      padding: 6px 0px;
      border-radius: 15px;
      text-align: center;
      font-size: 20px;
      line-height: 1.42857;
  }
  #follow_button {
    margin: 0pt; padding: 0pt;  position: absolute; z-index: 1;right: 0px; top: 0px;
  }
</style>