<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>programming</title>
</head>
<%- include('../include/header'); %>
<body>
  <section> 
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <%- include('../include/programming_treeview'); %>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">c</h1>            
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">번 호</th>
                <th scope="col">글 제 목</th>
                <th scope="col">작 성 일 자</th>
              </tr>
            </thead>
            <tbody>
              <!-- 게시글 내용 정렬해서 내리기 -->
              <% if(field_data[0]==undefined){ %>
                console.log("hello");
              <%}%>
              <% field_data.docs.forEach(function(data, index){%>
                <tr style="cursor: pointer" onclick="location.href='/'" >
                  <th scope="row"><%= (page_num-1) * PAGE_MAX + index + 1 %>
                    <!-- 날짜 계산 -->
                    <%if(moment.duration(moment().diff(moment(data.date))).asMinutes()<10){%>
                      <span class="badge badge-secondary">New</span>
                    <%}%>
                  </th>
                  <td><%= data.title %></td>
                  <td><%= data.name %></td>
                  <td><%= moment(data.date).format('YYYY-MM-DD / hh:mm:ss') %></td>
                </tr>
              <%})%>
            </tbody>
        </table>
        </main>
      </div>
    </div>
  </section>
</body>
</html>